@import compass/css3
@import compass/utilities
@import ifkit/position
@import ifkit/form_reset
@import ifkit/normalize
@import ifkit/media
@import ifkit/animation
@import ifkit/unicode

// == Constants ===============================================================

// Dimensions
$page-width: 1024px          // Full page width
$left-column: 225px          // The left side with the logo
$nav-column: 160px           // Little section navigations
$nav-height: 36px
$nav-offset: 70px
$card-width: 420px

// Color swatches
$bg: #fff
$line: #ddd
$menu-bg: #fafafa

// Text swatches
$txt: #585858                // Text color
$black: #222

// Paths
$snap-in: cubic-bezier(.85,.5,.95,.15)
$snap-out: cubic-bezier(.85,.85,.15,.95)

/* == Basic reset ============================================================= */

@import compass/reset

/* == Form elements reset ===================================================== */

@include if-form-reset

/* == Shared classes ========================================================== */

/* Page */
%page
  +box-sizing(border-box)
  width: $page-width
  margin: 0 auto

/* Type: Exo 100 */
%exo-100
  font-family: 'helvetica neue', sans-serif
  font-weight: 100
  .wf-exo-n1-active &
    font-family: exo

/* Type: Exo 100 caps */
%exo-100-caps
  @extend %exo-100
  letter-spacing: 1px
  text-transform: uppercase

/* Type: Armata 700 caps */
%armata-700-caps
  font-family: 'helvetica-neue', sans-serif
  font-weight: 700
  text-transform: uppercase
  letter-spacing: -1px
  .wf-armata-n4-active &
    font-family: armata

/* Type: Exo 700 */
%exo-700
  font-family: 'helvetica neue', sans-serif
  font-weight: 700
  .wf-exo-n7-active &
    font-family: exo

/* Type: Exo 700 caps */
%exo-700-caps
  @extend %exo-700
  text-transform: uppercase
  letter-spacing: 1px

/* Heading type */
%heading-type
  @extend %exo-100-caps
  color: #aaa
  text-shadow: 2px 2px 0 rgba(black, 0.08)

/* List reset */
%list-reset
  ul, li
    margin: 0
    padding: 0
    list-style-type: none

/* Clearfix */
%clearfix
  +pie-clearfix

@mixin flipme($y: 30px, $scale: 1.0)
  +transition(transform 300ms ease, opacity 300ms linear)
  -webkit-backface-visibility: hidden

  &.enter
    opacity: 0
    +transform(translate(0, -$y) perspective(200px) rotateX(90deg))
  &.exit
    opacity: 0
    +transform(translate(0, $y) perspective(200px) rotateX(-90deg) scale($scale))

/* == Content normalize ======================================================= */

.content
  +if-content
  +if-no-boundary-margins
  line-height: 1.6
  padding-top: 30px

  strong, h2, h3, h4
    font-family: exo, sans-serif
    font-weight: 700
    letter-spacing: 1px
    color: #333
    text-transform: uppercase
    font-size: 1.2em

  em
    color: #555
    font-style: normal
    font-family: exo, sans-serif
    font-weight: 700
    letter-spacing: 1px

  blockquote
    background: #fafafa
    border-bottom: solid 1px #ddd
    border-right: solid 1px #ddd
    padding: 20px

/* == Base styles ============================================================= */

html, td, textarea, input, button
  font-family: armata, 'helvetica neue', sans-serif
  font-size: 9pt
  line-height: 1.5
  color: $txt

html
  background: $bg

html, body
  min-height: 100%
  min-width: 1024px

a
  color: #999
  text-decoration: none

.content a
  border-bottom: solid 1px rgba($txt, 0.1)

.content h2
  @extend %armata-700-caps
  font-size: 1.5em

.hide
  display: none

/* == Logo ==================================================================== */

#logo
  +if-position(0, 0, auto, 0, $position: fixed)
  z-index: 11

  > div
    @extend %page
    position: relative
    top: 20px

  a
    position: relative
    width: 150px
    height: 79px
    overflow: hidden
    display: block

  // Dark and light
  a > div
    +if-absolute(0, auto, auto, 0)
    overflow: hidden

  a .black
    z-index: 10

  a .white
    z-index: 11

/* == Main introduction ======================================================= */

header.intro
  background: #000 url(../images/bg.jpg) no-repeat
  background-size: 100% auto
  +box-shadow(0 1px 0 rgba(black, 0.1), 0 5px 0 rgba(black, 0.05))

  position: relative
  z-index: 5
  overflow: hidden

  >img
    +if-position(0, auto, auto, 0, $position: fixed)
    width: 100%

  >div
    @extend %page
    padding: 40px 0 100px $left-column
    position: relative
    z-index: 1

  // Text stuff
  &
    color: #666
    text-shadow: 1px 1px 2px rgba(black, 0.2)

  // Venue info (date)
  .info
    line-height: 1.5

    strong
      @extend %exo-700-caps
      font-size: 1.1em
      color: white
      display: block

    p
      margin-bottom: 20px

  // Speakers list
  .speakers-overview
    margin-top: 50px

    +if-relative($left: -5px)

    font-size: 28pt
    text-transform: uppercase
    width: 500px
    line-height: 1.4
    color: white

    // Featuring presentations by:
    h3
      font-size: 9pt
      text-transform: none
      margin-bottom: 10px
      color: #888
      padding-left: 4px

    a
      color: white
      text-decoration: none
      border-bottom: dotted 1px rgba(white, 0.2)
      padding: 0 3px
      margin-right: 8px
      text-shadow: 3px 3px 0 rgba(black, 0.1)
      white-space: nowrap

    a:hover
      +border-radius(2px)
      background: rgba(white, 0.05)

    // Vertical responsiveness
    .short &
      width: 600px

  // Button
  .actions
    padding-top: 100px
    margin-left: -20px

    // Vertical responsiveness
    .short &
      padding-top: 60px

    &, *
      height: 30px
      line-height: 30px

    em
      font-style: normal
      color: #888
      display: inline-block
      padding-left: 20px

    a.button
      background-color: #eee
      display: inline-block
      padding: 0 20px
      color: $txt
      font-size: 1.1em
      +transition(all 300ms ease)
      border: solid 3px #eee

      &
        font-weight: bold
        @extend armata-700-caps
        letter-spacing: -1px
        text-transform: uppercase

      &:hover
        background-color: #fff
        border-color: #aaa


/* == Main navigation menu ==================================================== */

.intro + .main
  margin-top: -$nav-height - $nav-offset

nav.main
  &
    position: relative
    z-index: 5
    padding-top: $nav-offset
    pointer-events: none

  > div
    @extend %page
    padding-left: $left-column - 20px

  // Lineheights
  a, &
    height: $nav-height
    line-height: $nav-height
    overflow: hidden

  // Primary
  .primary
    position: relative
    z-index: 1
    background: $menu-bg
    overflow: hidden
    float: left
    pointer-events: all

  li, a
    display: block
    float: left

  // Each link
  a
    height: 40px
    line-height: 40px
    padding: 0 20px
    @extend %armata-700-caps
    color: $txt
    border-bottom: 0
    +transition(background-color 100ms linear)

  a:hover
    background-color: #eee

  // Caps
  // .primary li:first-child a
  //   padding-left: 30px
  // .primary li:last-child a
  //   padding-right: 30px

/* == Navigation background =================================================== */

nav.screen
  +if-position(0, 0, auto, 0, $position: fixed)
  height: 120px
  background: $menu-bg
  z-index: 2
  +box-shadow(0 1px 0 rgba(black, 0.1), inset 0 3px 0 #111, inset 0 6px $line, 0 5px 0 rgba(black, 0.05))

  .social
    float: right
    position: relative
    top: 50px
    right: -20px

  > div
    @extend %page
    padding-top: 30px
    padding-left: $left-column
    line-height: 1.5

  p
    color: #aaa
    font-size: 12pt
    border-bottom: solid 1px $line
    padding-bottom: 8px

  strong
    @extend %exo-700-caps
    color: $txt
    margin-right: 5px

/* == Sections ================================================================ */

section
  padding: 60px 0
  position: relative
  // background: $bg
  // z-index: 2

  // The heading
  > hgroup
    @extend %page
    padding: 30px 0
    padding-left: $left-column

    // The text
    h1, h2, h3
      @extend %heading-type
      font-size: 32pt

      // background: $bg
      // position: relative
      // z-index: 6

    // The notch
    &:before
      content: ''
      display: block
      width: 26px
      height: 3px
      background: #888
      margin-bottom: 15px
      +border-radius(2px)

  // Display area
  .display
    background: $bg

  .area
    @extend %page
    padding-left: $left-column
    position: relative

  .tab .area
    // padding: 30px 0 30px $left-column // <- old paddings
    padding: 0 0 0 ($left-column - 30px)

  .tab
    +box-shadow(inset 0 10px 5px -5px rgba(black, 0.05))

  // Sidebar of display area
  aside
    position: absolute
    left: 0
    top: 0
    width: $left-column - 30px
    z-index: 1

  aside > *
    margin-bottom: 30px
    +box-sizing(border-box)
    padding: 20px 0

  aside > h3
    background: #111
    padding: 20px
    color: white
    @extend %exo-700-caps
    font-size: 12pt
    line-height: 1.4

  // Navigation thingie
  aside nav
    background: #111

    a
      display: block
      padding: 8px 20px
      +transition(background-color 100ms linear)
      border-bottom: solid 1px rgba(white, 0.05)
      text-align: right

    a:hover
      background: rgba(white, 0.05)

    a.active
      background: rgba(white, 0.2)
      color: white

    li:last-child a
      border-bottom: 0

  // Nav lite
  aside nav.lite
    background: rgba(white, 0.8)

  // Card content
  .card
    background: white
    padding: 0 30px 60px 30px
    width: $card-width

  .full
    width: auto
    padding: 30px 30px 60px 30px

  .slim
    padding: 30px 30px 60px 30px
    width: $card-width
    +box-sizing(border-box)

  .side
    width: 350px
    float: right

/* == Content: Tickets ======================================================== */

/* Tickets sidebar */
.tickets aside
  &
    top: 0

  h3
    margin-top: 30px
    margin-bottom: 20px
    font-size: 1.1em

  h3 a
    color: white

  h3 strong
    font-size: 1.5em
    display: block

  ul, li
    margin: 0
    padding: 0

  ul a
    display: block
    background: #e7e7e7
    padding: 10px
    +box-sizing(border-box)
    color: #888

    margin-bottom: 20px
    font-size: 0.9em

    border-bottom: solid 1px #ddd

  ul a, ul a *
    +transition(all 100ms linear)

  ul a strong
    @extend %armata-700-caps
    font-size: 1.1em
    color: #333

    display: block
    padding-bottom: 5px
    margin-bottom: 5px
    border-bottom: solid 1px #ccc

  ul a:hover, a:active, a.active
    background: #111
    color: #888

    strong
      color: #fff
      border-bottom-color: #222

.tickets .tab
  min-height: 500px

/* Tickets content area */
#tickets .content
  @extend %list-reset

  &.slim
    margin-top: 0
    width: $card-width

  h2, h3
    font-size: 1.5em
    text-transform: none

  ul
    border-top: dotted 1px $line

  li
    border-bottom: dotted 1px $line
    padding: 9px 0

/* Conference pass, tickets */
#tickets .conference-pass
  @extend %list-reset
  width: 400px

  ul
    margin-top: 0
    @extend %clearfix
    border: 0
    margin-bottom: 20px

  // iOS
  +if-screen-width($max: 1024px)
    position: relative
    right: 30px

  li strong, li em
    display: block
    text-align: right

  // Price
  li strong
    @extend %exo-700-caps
    font-size: 18pt
    text-shadow: 2px 2px 0 #eee

  // Subtext
  li em
    font-style: normal
    @extend %armata-700-caps

  li
    width: 33%
    +box-sizing(border-box)
    border: 0
    padding-top: 0
    float: left
    line-height: 1.3

  li:first-child
    width: 33%
    text-align: right
    padding-top: 5px
    font-size: 1.2em
    color: #aaa

  // Light grey
  li:first-child + li + li
    strong
      color: #999
    em
      color: #aaa

/* Ticket images */
#tickets .tickets
  &
    margin-top: 50px
    position: relative

  img
    width: 320px
    height: 320px * 0.610
    +box-shadow(0 6px 18px rgba(black, 0.2))
    position: absolute
    +transition(transform 400ms ease-in-out, right 400ms ease-in-out, top 400ms ease-in-out, opacity 400ms ease-in-out)

  img.pro
    background: #222
    right: 30px
    top: 0
    z-index: 0
    +box-shadow(0 6px 18px rgba(black, 0.4))
    +transform(rotate(4deg))

  img.student
    background: #fafafa
    right: 0
    top: 90px
    z-index: 1
    +transform(rotate(-4deg))

  // iOS
  +if-screen-width($max: 1024px)
    img.pro
      right: 50px
    img.student
      right: 20px

  &:hover
    img.pro
      top: 10px
      +transform(rotate(-4deg) scale(1.1))

    img.student
      top: 140px
      +transform(rotate(-8deg) perspective(700px) rotateX(-40deg))
      opacity: 0

/* == Content: Contact us ===================================================== */

#contact
  .display
    background: #0d0d0d
    color: #888
    padding: 40px 0 0 0

  .content
    padding-left: 0
    min-height: 300px

    h2, h3, strong
      color: #aaa
      font-size: 1.1em
      text-transform: none
      margin-bottom: 0

      + p
        margin-top: 0


/* == About us ================================================================ */

/* Fix the past speakers's height so the background tiles perfectly */
#past-speakers .card
  padding-bottom: 30px
  height: 620px

/* == Share =================================================================== */

#share
  background: url(../images/fiddlesticks.png) center 300px repeat-x

/* Heading */
#share hgroup
  h2
    @extend %exo-700
    font-size: 32pt
    color: $black
    margin-bottom: 10px
    text-transform: none
    margin-top: 10px

  p
    font-size: 14pt
    color: #888
    width: 500px
    line-height: 1.6

  &
    padding-bottom: 30px

#share .area
  @extend %clearfix

/* Poster */
#share .slim
  padding: 0
  width: 290px
  float: left

  a
    border-bottom: 0

  p.poster
    background: #ebebeb
    border-bottom: solid 1px #ddd
    border-right: solid 1px #ddd
    width: 250px
    line-height: 1

    position: relative
    top: 10px
    left: 10px

  p.poster img
    position: relative
    top: -10px
    left: -10px

/* Side thing */
#share .side
  float: left
  width: 300px
  padding: 0

/* Poster links */
#share .posters
  &
    height: 250px
    position: relative
    top: -10px

  a
    min-height: 41px
    border-bottom: 0
    overflow: hidden
    margin-bottom: 20px
    display: block
    line-height: 1.5
    padding: 10px 0

  a:hover
    background: #f3f3f3

  strong
    display: block

  strong:after
    content: ' #{$rsaquo}'

  em
    font-style: normal
    font-weight: normal

  a:before
    content: ''
    display: block
    width: 41px
    height: 41px
    background: url(../images/sprite/jpeg.png) 0 0 no-repeat

    float: left
    margin-right: 15px

/* Facebook/twitter heading */
#share .updates
  line-height: 1.5

  strong
    display: block
    text-transform: none
    letter-spacing: 0
    font-size: 1.3em

#share .share-buttons
  &
    width: 500px

  // Twitter
  iframe
    margin-right: 5px

  a
    height: 28px
    line-height: 28px
    border-bottom: 0
    white-space: nowrap
    display: inline-block
    vertical-align: top
    color: $black

  a.facebook
    padding: 0 5px

    &:before
      content: ''
      display: inline-block
      margin-right: 10px
      width: 24px
      height: 24px
      position: relative
      top: 2px
      left: 2px
      background: url(../images/sprite/icon-facebook.png)

    &:hover
      background: #f3f3f3

/* == Footer ================================================================== */

#footer
  &
    margin-top: 50px

  > div
    @extend %page
    height: 444px
    background: url(../images/footer.jpg) 100px bottom no-repeat
    position: relative

  p .copy
    font-size: 48px
    float: left
    margin-right: 20px
    color: #ddd
    line-height: 1
    display: block

  p
    width: 350px
    overflow: hidden
    position: absolute
    bottom: 50px
    right: 110px
    font-size: 0.9em
    line-height: 1.5

    color: #999

    strong
      font-weight: normal
      color: $txt


/* == Content: Work =========================================================== */

+if-keyframes(drift)
  0%
    background-position: 0 0
  100%
    background-position: -1200px 0

.speakers .tab
  +if-animation(drift, 90s, infinite, linear)
  background-size: 1200px 420px

/* The speaker card */
.speakers .card
  &
    box-shadow: 5px 0 0 rgba(black, 0.1), -5px 0 0 rgba(black, 0.1)
    background: transparent
    padding: 0
    position: relative

  // Links
  nav
    @extend %list-reset
    +if-absolute(12px, 22px, auto, auto)
    z-index: 1

    li, a
      float: left

    a
      +transition(opacity 200ms linear)

      display: block
      width: 24px
      height: 24px
      margin-left: 8px

      text-indent: -9999px
      background-image: url(../images/sprite/icon-link.png)
      background-size: 16px auto
      background-position: center center
      background-repeat: no-repeat

      opacity: 0.6
      border: 0

    a[href*=vimeo]
      background-image: url(../images/sprite/icon-vimeo.png)
    a[href*=deviantart]
      background-image: url(../images/sprite/icon-da.png)
    a[href*=twitter]
      background-image: url(../images/sprite/icon-twitter.png)
    a[href*=dribbble]
      background-image: url(../images/sprite/icon-dribbble.png)
    a[href*=facebook]
      background-image: url(../images/sprite/icon-facebook.png)
    a[href*=youtube]
      background-image: url(../images/sprite/icon-youtube.png)

    a:hover
      +transition(none)
      opacity: 1

  // The segments
  header
    padding: 0 30px 20px 30px

  .body
    padding: 30px
    background: rgba(#222, 0.96)
    color: #ccc
    min-height: 220px

  header
    background: $bg

  // The heading styles
  header h2, header h3, header h5
    margin: 0

  header h2
    @extend %armata-700-caps
    font-size: 20pt
    color: #333
    text-shadow: 3px 3px 0 #eee

  // Speaker
  header h5
    margin-top: -3px
    @extend %exo-700-caps
    font-size: 9pt
    color: #999

  // What we do
  header h3
    @extend %armata-700-caps
    margin-top: 10px
    padding-top: 10px
    border-top: solid 1px $line
    color: #999
    font-size: 13pt

/* == Animations ============================================================== */

body
  -webkit-backface-visibility: hidden

.fly
  +transition(all 400ms $snap-out)

.fly.in
  opacity: 0
  +transform-origin(-200% 50%)
  +transform(translate(-50px, 0))

.fly.out
  +transition(all 200ms $snap-in)
  opacity: 0
  +transform-origin(-200% 50%)
  +transform(translate(-50px, 0))

/* == It's the final countdown! =============================================== */

.countdown
  &
    margin: 90px 0 60px 0
    background: url(../images/fiddlesticks.png) center 0 repeat-x

  > div
    @extend %page
    padding-left: $left-column

  // Don't miss it!
  header
    line-height: 1.5
    width: $card-width
    margin-bottom: 30px

    h3
      @extend %exo-700
      font-size: 32pt
      color: $black
      margin-bottom: -3px

    p
      font-size: 12pt
      color: #888

  // Big day
  .box.days
    margin-bottom: 50px
    font-family: exo, sans-serif
    font-weight: 700
    font-size: 80pt

    strong
      text-shadow: 4px 4px 0 #ccc
      color: $black

    small
      position: relative
      top: 4px
      color: #ccc
      display: inline-block
      width: 500px

      height: 1em
      vertical-align: bottom

    small span
      position: absolute
      left: 0
      top: 0
      @include flipme($y: 50px, $scale: 0.8)

  // Animation
  .box
    strong
      @include flipme($y: 20px, $scale: 0.9)

  // Others
  .box.hours, .box.minutes, .box.seconds
    // width: ($card-width + 30px) / 3 - 30px
    width: 152px
    margin-right: 30px
    float: left
    position: relative
    height: 70px

    strong
      display: block
      height: 36px
      line-height: 36px
      font-size: 36px
      text-shadow: 2px 2px 0 rgba(black, 0.1)

      position: absolute
      left: 0
      top: 0

    small
      display: block

      position: absolute
      left: 0
      top: 50px

      @extend %armata-700-caps
      color: #aaa

/* == Past speakers =========================================================== */

#past-speakers
  @extend %list-reset

  ul
    @extend %clearfix
    margin-top: 30px

  li
    border-top: dotted 1px $line
    width: 50%
    float: left
    +box-sizing(border-box)
    padding: 30px 30px 30px 0

  li strong
    font-size: 1.4em
    @extend %armata-700-caps


/* == Info ==================================================================== */

#info
  @extend %list-reset

  .full
    @extend %clearfix

  .hero
    background: $line
    height: 180px
    overflow: hidden

    img
      width: $card-width + 30px
      height: 180px
      background: $line

    .left
      float: left
    .right
      float: right

  // Heading
  h2
    margin-top: 20px
    margin-bottom: 20px
    padding-bottom: 20px
    border-bottom: solid 1px $line

    @extend %armata-700-caps
    text-transform: none
    font-size: 1.8em

  // Items
  .date, ul
    float: left
    +box-sizing(border-box)
    padding-right: 20px

  ul
    width: 35%

  .date
    width: 30%

  .date
    .weekday, .month
      display: block
      @extend exo-700
      font-weight: bold

    .weekday
      font-size: 1.8em
      letter-spacing: -1px
      color: $black

    .month
      font-size: 1.2em
      text-transform: uppercase

    .day
      float: left
      margin-left: -120px
      width: 120px
      text-align: center

      font-size: 44pt

      line-height: 1

    ul strong
      display: inline

/* == FAQ ===================================================================== */

#faq
  @extend %list-reset

  ul
    @extend %clearfix

  li
    padding: 30px 0
    border-top: dotted 1px $line
    +box-sizing(border-box)
    float: left
    width: 50%
    padding-right: 30px

  li:first-child, li:first-child + li
    border-top: 0
    padding-top: 0

  li strong
    font-size: 1.1em
    display: block

/* == Direct purchase ========================================================= */

#direct-purchase
  .full
    @extend %clearfix

  article
    padding-top: 15px
    padding-right: 20px
    padding-bottom: 20px
    float: left
    +box-sizing(border-box)
    width: 33%

    img
      height: 65px

    h3
      font-size: 1.6em
      @extend %armata-700-caps
      margin-bottom: 0

    h4
      text-transform: none
      @extend %armata-700
      margin-top: 0

  .partners, .schools
    overflow: hidden

  .schools
    margin-top: 30px
    border-top: dotted 1px $line
    padding-top: 20px

  @extend %list-reset


.news
  padding-bottom: 150px
  margin-top: -50px

  div
    @extend %page

  @extend %list-reset

  h2
    font-size: 2em
    width: $left-column
    float: left

  ul
    float: left
    width: $page-width - $left-column
    overflow: hidden

  li
    padding-right: 30px
    width: 23%
    float: left
    +box-sizing(border-box)

    font-size: 0.9em

    line-height: 1.6

  li a.perm
    color: $black
    @extend %armata-700-caps
    display: block
    font-size: 1.2em
    margin-bottom: 1px

/* == Call for entries ======================================================== */

$speed: 300ms
$ease: cubic-bezier(.06, .78, .07, .93)

a.call-for-entries
  +if-absolute(0, 30px, auto, auto)
  z-index: 24

  background: #fafafa
  color: $txt
  padding: 20px
  width: 180px
  text-align: left
  font-size: 0.9em
  line-height: 1.5

  +transition(background-color 100ms linear, top ($speed * 0.5) $ease)

  strong
    display: block
    font-size: 1.2em
    text-transform: uppercase

    padding: 0 0 7px 0
    margin: 0 0 7px 0
    border-bottom: dotted 1px #ccc

    @extend %exo-700

  &:hover
    background: white

.entries-info
  +if-absolute(-450px, 0, auto, 0)
  z-index: 25
  +transition(top $speed $ease)

.entries-active .entries-info
  top: 0

.entries-info
  min-width: 900px
  line-height: 1.6
  font-size: 0.9em

  @extend %clearfix

  +box-shadow(0 0 10px rgba(black, 0.8))
  background: #fafafa
  padding: 50px
  padding-left: 20px
  padding-right: 0

  color: #333
  text-shadow: 0 0 2px rgba(white, 0.2)

  a
    border-bottom: 0

  h3, p
    margin: 20px 0

  h3:first-child
    margin-top: 0

  // Close button
  .close
    +if-absolute(30px, 30px, auto, auto)
    text-align: center
    z-index: 1
    font-size: 1.9em
    width: 50px
    height: 50px
    line-height: 50px
    display: block

    background: black
    color: #eee

    &:hover
      background: #333

  p.guidelines
    border-top: dotted 1px #ccc
    border-bottom: dotted 1px #ccc
    padding: 10px 0

  p.download
    padding-top: 10px

    strong
      @extend %exo-700

    a
      display: block
    a:hover
      color: #333

  // Heading
  header
    border-bottom: dotted 1px #ccc
    padding: 0 0 20px 0
    margin: 0 0 20px 0
    margin-left: 30px

    h2
      margin: 0
      font-size: 1.7em
      text-transform: uppercase

    h2 strong
      margin-right: 10px
      @extend %exo-700

    h2 span
      @extend %exo-100

  h3
    @extend %exo-700
    font-size: 1.1em
    text-transform: uppercase

  .column
    width: 270px
    float: left
    margin-left: 30px
