@import compass/css3
@import compass/utilities
@import ifkit/position
@import ifkit/form_reset
@import ifkit/normalize

// == Constants ===============================================================

// Dimensions
$page-width: 1024px          // Full page width
$left-column: 225px          // The left side with the logo
$nav-column: 160px           // Little section navigations
$nav-height: 36px

// Color swatches
$bg: #fff

// Text swatches
$txt: #585858                // Text color

/* == Basic reset ============================================================= */

@import compass/reset

/* == Form elements reset ===================================================== */

@include if-form-reset

/* == Shared classes ========================================================== */

/* Page */
%page
  +box-sizing(border-box)
  width: $page-width
  margin: 0 auto

/* Type: Exo 100 */
%exo-100
  font-family: exo, 'helvetica neue', sans-serif
  font-weight: 100

/* Type: Exo 100 caps */
%exo-100-caps
  @extend %exo-100
  letter-spacing: 1px
  text-transform: uppercase

/* Type: Armata 700 caps */
%armata-700-caps
  font-family: armata, sans-serif
  font-weight: 700
  text-transform: uppercase
  letter-spacing: -1px

/* Type: Exo 700 caps */
%exo-700-caps
  font-family: exo, sans-serif
  font-weight: 700
  text-transform: uppercase
  letter-spacing: 1px

/* == Content normalize ======================================================= */

.content
  +if-content
  +if-no-boundary-margins
  line-height: 1.6

  strong, h2, h3, h4
    font-family: exo, sans-serif
    font-weight: 700
    letter-spacing: 1px
    color: #333
    text-transform: uppercase
    font-size: 1.2em

/* == Base styles ============================================================= */

html, td, textarea, input, button
  font-family: armata
  font-size: 9pt
  line-height: 1.5
  color: $txt

html
  background: $bg

html, body
  min-height: 100%

a
  color: #999
  text-decoration: none
  border-bottom: solid 1px rgba($txt, 0.1)

/* == Logo ==================================================================== */

#logo
  +if-position(0, 0, auto, 0, $position: fixed)
  z-index: 5

  > div
    @extend %page
    padding: 30px 0

  a
    position: relative
    width: 150px
    height: 79px
    overflow: hidden

  // Dark and light
  a > div
    +if-absolute(0, auto, auto, 0)
    overflow: hidden

  a .black
    z-index: 9

  a .white
    z-index: 10

/* == Main introduction ======================================================= */

header.intro
  background: #000 url(/images/bg.jpg) no-repeat
  background-size: 100% auto
  background-attachment: fixed

  position: relative
  z-index: 2
  overflow: hidden

  >img
    +if-position(0, auto, auto, 0, $position: fixed)
    width: 100%

  >div
    @extend %page
    padding: 40px 0 100px $left-column
    position: relative
    z-index: 1

  // Text stuff
  &
    color: #666
    text-shadow: 1px 1px 2px rgba(black, 0.2)

  // Venue info (date)
  .info
    line-height: 1.5

    strong
      @extend %exo-700-caps
      font-size: 1.1em
      color: white
      display: block

    p
      margin-bottom: 20px

  // Speakers list
  .speakers
    margin-top: 50px

    +if-relative($left: -5px)

    font-size: 28pt
    text-transform: uppercase
    width: 500px
    line-height: 1.5
    color: white

    a
      color: white
      text-decoration: none
      border-bottom: dotted 1px rgba(white, 0.2)
      padding: 0 3px
      margin-right: 8px
      text-shadow: 3px 3px 0 rgba(black, 0.1)

    a:hover
      +border-radius(2px)
      background: rgba(white, 0.05)

  // Button
  .actions
    padding-top: 100px
    margin-left: -20px

    a.button
      background-color: #ddd
      display: inline-block
      padding: 12px 20px
      color: $txt
      @extend %exo-700-caps
      font-size: 1.1em
      +transition(all 300ms ease)
      border: solid 6px #ddd

      &:hover
        background-color: #fff
        border-color: #aaa


/* == Main navigation ========================================================= */

.intro + .main
  margin-top: -$nav-height - 33px

nav.main
  &
    position: relative
    z-index: 5
    padding-top: 33px

  > div
    @extend %page
    padding-left: $left-column - 20px

  // Lineheights
  a, &
    height: $nav-height
    line-height: $nav-height
    overflow: hidden

  // Primary
  .primary
    position: relative
    z-index: 1
    background: $bg
    +border-top-radius(2px)
    overflow: hidden

  .social, .primary
    float: left

  .social
    padding: 0 20px

  li, a
    display: block
    float: left

  // Each link
  a
    height: 40px
    line-height: 40px
    padding: 0 20px
    @extend %armata-700-caps
    color: $txt
    border-bottom: 0
    +transition(background-color 100ms linear)

  a:hover
    background-color: #eee

  // Caps
  // .primary li:first-child a
  //   padding-left: 30px
  // .primary li:last-child a
  //   padding-right: 30px

/* == Sections ================================================================ */

section
  padding: 60px 0
  position: relative
  // background: $bg
  // z-index: 2

  // The heading
  > hgroup
    @extend %page
    padding: 30px 0
    padding-left: $left-column

    // The text
    h1, h2, h3
      @extend %exo-100-caps
      color: #aaa
      font-size: 32pt
      text-shadow: 2px 2px 0 rgba(black, 0.08)

      // background: $bg
      // position: relative
      // z-index: 6

    // The notch
    &:before
      content: ''
      display: block
      width: 26px
      height: 3px
      background: #888
      margin-bottom: 15px
      +border-radius(2px)

  // Display area
  .display
    +box-shadow(inset 0 20px 10px -10px rgba(black, 0.05))
    background: $bg

    position: relative
    z-index: 100

  .area
    @extend %page
    padding-left: $left-column
    position: relative

  .tab .area
    padding: 30px 0 30px $left-column

  // Sidebar of display area
  aside
    position: absolute
    left: 0
    top: 0
    width: $left-column - 30px
    z-index: 10

  aside > *
    margin-bottom: 30px
    +box-sizing(border-box)
    padding: 20px 0

  aside > h3
    background: #111
    padding: 20px
    color: white
    @extend %exo-700-caps
    font-size: 12pt
    line-height: 1.4

  // Navigation thingie
  aside nav
    background: #111

    a
      display: block
      padding: 6px 20px
      +transition(background-color 100ms linear)

    a:hover
      background: rgba(white, 0.1)

    li a:last-child
      border-bottom: 0

  // Nav lite
  aside nav.lite
    background: rgba(white, 0.8)

  // Card content
  .card
    background: white
    padding: 30px
    width: 530px

  .card-lite
    padding: 30px 0
    width: 530px
    +box-sizing(border-box)
