/ == Introduction ============================================================
#logo
  %div
    %a{href: '#'}
      .white
        = image_tag 'sprite/logo-white.png', alt: 'Graphika Manila'
      .black
        = image_tag 'sprite/logo-black.png', alt: 'Graphika Manila'


/ == Introduction ============================================================
%header.intro
  %div
    .info
      :markdown
        __August 11, 2012__
        10AM to 6PM

        __SMX Convention Center__
        Mall of Asia Complex, Pasay, Metro Manila

    .speakers
      :markdown
        [Psyop](#speakers), [Gmunk](#speakers), [Droga5](#speakers), [JP
        Cuison](#speakers), [Jerome Austria](#speakers), [Create.PH](#speakers)

    .actions
      %a.button{href: '#tickets'} Buy tickets now!


/ == Main navigation =========================================================
%nav.main
  %div
    .primary
      :markdown
        * [Speakers](#speakers)
        * [Tickets](#tickets)
        * [About GM](#about)
        * [Details & FAQ](#faq)
        * [Contact](#contact)

    .social
      -# FB/Twitter goes here

/ == Content section =========================================================

%section.tickets
  %hgroup
    %h2
      GM2012 Tickets

  .display
    .area
      %aside
        %h3 3 ways to purchase tickets

        %nav.lite
          :markdown
            * [How it started](#how-it-started)
            * [Past speakers](#past-speakers)

    .tab#tickets
      .area
        .content.card-lite
          :markdown
            ### Each Graphika Manila Ticket includes:

            * Admission to the full-day conference
            * Conference kit which includes the Graphika Manila 2012 book
            * E-certificate of attendance

            ### Important reminders:

            * Both Conference & student passes have the same priviledges.
            * Food/lunch not included in the ticket price.
            * Seats are on a first-come, first-served basis only.
            * Students are required to present a valid ID upon entry.

/ == Content section =========================================================

%section
  %hgroup
    %h2
      About Graphika Manila

  -# Display = The full thingie.
  -# Area = just the part that has content
  .display
    .area
      %aside
        %nav
          :markdown
            * [How it started](#how-it-started)
            * [Past speakers](#past-speakers)

    .tab#how-it-started{style: 'background: url(/images/gm09.jpg) center center repeat'}
      .area
        .content.card
          :markdown
            __Graphika Manila Interational Multimedia Conference__ is the premiere
            multimedia and graphic design event in the Philippines.  Since 2006,
            Graphika Manila has attracted over 7,500 design students and
            professionals and is now hailed as one of the most influential
            multimedia events in the country.

            As it celebrates its seventh year running, Graphika Manila once more
            brings together Manila's creative minds to listen to inspiring
            stories and celebrate the works of the best multimedia and graphic
            designers from the Philippines and from around the globe.

            Simply put it as a creative symposium with speakers from different
            fields of the creative arts. The conference focuses on the creative
            side of design rather than technology.

